<!DOCTYPE html>
<html lang="{{HTML_LANG}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{html_title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon/favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    {{ navbar | safe }}

    <h1>Admin Kaffee hinzufügen</h1>

    {{ fehler }}

<form method="post" action="/admin/kaffee/aendern/{{id}}" id="aendern">
    <label for="hersteller">Hersteller:</label><br>
    <input value="{{result[0]}}" type="text" id="hersteller" name="hersteller"><br>

    <label for="name">Name:</label><br>
    <input value="{{result[1]}}" type="text" id="name" name="name"><br>

    <label for="herkunft">Herkunft:</label><br>
    <input value="{{result[2]}}" type="text" id="herkunft" name="herkunft"><br>

    <label for="anbauart">Anbauart:</label><br>
    <input value="{{result[3]}}" type="text" id="anbauart" name="anbauart"><br>

    <label for="besonderheit">Besonderheit:</label><br>
    <input value="{{result[4]}}" type="text" id="besonderheit" name="besonderheit"><br>

    <label for="geschmacksprofil">Geschmacksprofil:</label><br>
    <input value="{{result[5]}}" type="text" id="geschmacksprofil" name="geschmacksprofil"><br>

    <label for="preis_1000g">Preis 1000g:</label><br>
    <input value="{{result[6]}}" type="text" id="preis_1000g" name="preis_1000g"><br>

    <label for="preis_500g">Preis 500g:</label><br>
    <input value="{{result[7]}}" type="text" id="preis_500g" name="preis_500g"><br>

    <label for="preis_250g">Preis 250g:</label><br>
    <input value="{{result[8]}}" type="text" id="preis_250g" name="preis_250g"><br>

    <label for="preis_100g">Preis 100g:</label><br>
    <input value="{{result[9]}}" id="preis_100g" name="preis_100g"><br> <br>


    <button type="submit" form="aendern" id="submit" >Speichern</button>

</form>

<form method="post" action="/admin/kaffee/loeschen/{{id}}" id="loeschen">
    <button type="submit" form="loeschen" id="delete" >Löschen</button>
</form>

</body>
</html>
