<!DOCTYPE html>
<html lang="{{HTML_LANG}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{html_title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon/favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    {{ navbar | safe }}
    <h1>Home</h1>

    <table>
        <tr>
            <th>Hersteller</th>
            <th>Name</th>
            <th>Herkunft</th>
            <th>Anbauart</th>
            <th>Besonderheit</th>
            <th>Geschmacksprofil</th>
            <th>Preis_1000g*</th>
            <th>Gramm</th>
            <th>Genge</th>
        </tr>
        {%for row in result%}
        <tr>
            <td> {{ row[1] }} </td>
            <td> {{ row[2] }} </td>
            <td> {{ row[3] }} </td>
            <td> {{ row[4] }} </td>
            <td> {{ row[5] }} </td>
            <td> {{ row[6] }} </td>
            <td>
                {% if row[7] %}
                {{ format(row[7], '.6f')}}€
                {% elif row[8] %}
                {{ "%.2f"|format(row[8] | float * 2) }}
                {% elif row[9] %}
                {{ "%.2f"|format(row[9] | float * 4) }}
                {% elif row[10] %}
                {{ "%.2f"|format(row[10] | float * 10) }}
                {% else %}
                Bitte melden mit folgender ID: {{ row[0] }}
                {% endif %}
            </td>
            <td>
                <select name="gramm" id="gramm{{row[0]}}">
                    {% if row[7] %}
                    <option value="1000g"> 1000g {{row[7]}}€</option>
                    {% endif %}
                    {% if row[8] %}
                    <option value="500g"> 500g {{row[8]}}€</option>
                    {% endif %}
                    {% if row[9] %}
                    <option value="250g"> 250g {{row[9]}}€</option>
                    {% endif %}
                    {% if row[10] %}
                    <option value="100g"> 100g {{row[10]}}€</option>
                    {% endif %}
                </select>
            </td>
            <td>
                <input min="0" value="1" type="number" name="menge" id="menge{{row[0]}}">
            </td>
            <td> <button>Add</button> </td>
        </tr>
        {%endfor%}
    </table>

<br><br><br> * Hochgerechnet
</body>

</html>
